<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #autoForm="ngForm" (ngSubmit)="addAuto(autoForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="autoService.selectedAuto._id"> 
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="marca" #marca="ngModel" [(ngModel)]="autoService.selectedAuto.marca"
                                placeholder="Ingrese la marca">
                             </div>
                            <div class="input-field col s12">
                                <input type="text" name="modelo" #modelo="ngModel" [(ngModel)]="autoService.selectedAuto.modelo"
                                placeholder="Ingrese el modelo">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="km" #km="ngModel" [(ngModel)]="autoService.selectedAuto.km"
                                placeholder="Ingrese los km">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="precio" #precio="ngModel" [(ngModel)]="autoService.selectedAuto.precio"
                                placeholder="Ingrese el precio">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="contacto" #contacto="ngModel" [(ngModel)]="autoService.selectedAuto.contacto"
                                placeholder="Ingrese su celular como contacto">
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right" (click)="resetForm(autoForm)">Limpiar</button>
                                    <button class="btn right" style="margin-left: 2px;">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Km</th>
                    <th>Precio</th>
                    <th>Contacto</th>
                    <th>Operaciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let auto of autoService.autos">
                        <td>{{ auto.marca }}</td>
                        <td>{{ auto.modelo }}</td>
                        <td>{{ auto.km }}</td>
                        <td>{{ auto.precio }}</td>
                        <td>{{ auto.contacto }}</td>
                        <td>
                            <a (click)="editAuto(auto)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteAuto(auto._id)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td> 
                    </tr>    
                </tbody>
            </table>

        </div>

    </div>
</div>
